@font-face {
  font-family: "poppins";
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "poppins-header";
  src: url("../fonts/Poppins-ExtraBold.ttf");
}
$primary: #433df2;
$secondary: #f21b42;
$tetiary: #b46fbb;
$bg: #fff;
$text1: #555;
$text2: #011b33;

h1,
h2 {
  font-family: "poppins-header";
}
a {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  background: $bg;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: "poppins";
  color: var(--text2);
}
.button {
  width: 200px;
  height: 60px;
  border: none;
  outline: none;
  border-radius: 48px;
  background-color: $secondary;
  margin-top: 2rem;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  a {
    color: #fff;
    font-family: "poppins";
    font-weight: 600;
  }
  &:hover {
    background-color: #eee !important;
    cursor: pointer;
    a {
      color: $secondary;
    }
  }
}
button {
  cursor: pointer;
  transition: 0.4s ease-in-out;
  a {
    font-weight: 600;
  }
  &:hover {
    background-color: #eee !important;
    a {
      color: $secondary !important;
    }
  }
}
nav {
  width: 100%;
  height: 10vh;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  img {
    width: 150px;
  }
  .menu {
    display: none;
  }
  ul {
    a {
      color: $text1;
      text-decoration: none;
      margin-right: 1rem;
      transition: 0.4s;
      position: relative;
      font-weight: 600;
      &:hover {
        color: $secondary;
      }
      &::before {
        content: "";
        width: 0%;
        height: 0.2rem;
        background: $secondary;
        position: absolute;
        bottom: 0%;
        left: 0%;
        border-radius: 48px;
        transition: 500ms ease-out;
      }
      &:hover::before {
        width: 100%;
      }
    }
  }
}

.banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 140px 50px;
  position: relative;
  background: #fff;
  img {
    width: 600px;
    position: absolute;
    top: 0;
    right: -2%;
  }
  h1 {
    font-weight: 900;
    font-size: 4rem;
    color: $text2;
    span {
      color: $secondary;
    }
  }
  h3 {
    font-weight: lighter;
    color: $text2;
  }
  button {
    width: 200px;
    height: 60px;
    border: none;
    outline: none;
    border-radius: 48px;
    background-color: $secondary;
    margin-top: 2rem;
    a {
      color: #fff;
      font-family: "poppins";
    }
  }
}

.container {
  width: 100%;
  background: #080a0d;
  padding: 150px 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  clip-path: polygon(50% 0%, 100% 0, 99% 85%, 49% 100%, 49% 100%, 0 85%, 0 0);

  h1 {
    font-size: 6rem;
    color: transparent;
    background: -webkit-linear-gradient(90deg, $primary, $secondary, $tetiary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  p {
    max-width: 100%;
    color: $text1;
    line-height: 1.8rem;
  }
  .cluster--two {
    img {
      width: 100%;
      float: right;
      border-radius: 40px;
    }
  }
}

.container2 {
  padding-top: 8rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 8rem;
  header {
    display: grid;
    place-content: center;
    text-align: center;
    .strong {
      margin-top: -1rem;
    }
  }
  .header2 {
    font-size: 5rem;
    color: $text2;
    span {
      color: $secondary;
    }
  }
  .grid--3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    padding-top: 3rem;
    .grid {
      border-radius: 10px;
      width: 100%;
      position: relative;
      .header {
        padding: 10px;
        position: absolute;
        top: 30%;
        z-index: 2;
        color: #fff;
        font-size: 1.5rem;
        text-align: center;
      }
      .image--wrapper {
        overflow: hidden;
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          width: 0;
          height: 0;
          z-index: 1;
          opacity: 0.4;
          transition: 0.5s ease-in-out;
        }

        .card--image {
          width: 100%;
          border-radius: 10px;
          border-radius: 10px;
          transform: scale(1);
          transition: 0.4s ease-in-out;
          position: relative;
          height: 50vh !important;
          &:hover {
            transform: scale(1.3);
          }
        }
        .grid:hover ~ .image--wrapper::before {
          background: linear-gradient(90deg, $secondary, $primary);
          width: 100%;
          height: 100%;
          cursor: zoom-out;
        }
      }
    }
  }
}

.container3 {
  width: 100%;
  background: linear-gradient(90deg, $secondary, $tetiary);
  padding: 100px 50px;
  display: grid;
  place-content: center;

  h1 {
    font-size: 5rem;
    color: #fff;
    font-family: "poppins-header";
  }
  img {
    width: 100%;
    object-fit: cover;
  }
}
.container4 {
  padding: 100px 50px;
}
